
body{
background: url('D:/Web-dev-projects/South-America/images/background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#nameInput{
    margin-bottom: 20px;
    text-align: center; 
}

.navbar-nav{
    direction: rtl;
}

.img-fluid{
    margin-bottom: 20px;
    border-radius: 3%;
}


.h1style{
    text-shadow: -1px 5px 30px rgba(75, 255, 150, 1);
    text-align: center;
  }

  .new1{
      justify-content: center;
  }

  /* .badge-danger{
      font-size: 50px;
      margin: 30px 30px;
  } */

  .font-weight-bold{
    text-shadow: -1px 5px 30px rgba(75, 255, 150, 1);
  }

  .headers{
      padding: 5px 50px;
      background-image: url('D:/Web-dev-projects/South-America/images/headers.jpg'); 
      border-radius: 5px;
      color: aliceblue;
  }

  .btn-sm{
      border-radius: 5%;
      padding: 50px;
      font-size: 20px;
  }

  .alertBtn{
      padding: 0px;
      
  }

  