.gradient-custom {
  background: #3a7bd5;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3a6073, #3a7bd5);
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#3a6073), to(#3a7bd5));
  background: -webkit-linear-gradient(left, #3a6073, #3a7bd5);
  background: -o-linear-gradient(left, #3a6073, #3a7bd5);
  background: linear-gradient(to right, #3a6073, #3a7bd5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.card-comments img {
  width: 4rem; }

  .navbar-nav{
    direction: rtl;
  }

  .mb-4{
    color: red;
  }

  .headPic{
    background: url('https://raw.githubusercontent.com/lior4007/South-America/master/countries/images/mexico-city.jpg'); 
    background-size: cover;
  }

  .img-fluid{
    max-height: 200px;
    width: 100%;
  }

/* Brazil */

.brazil{
  background: url('https://raw.githubusercontent.com/lior4007/South-America/master/countries/images/Brazil.jpg'); 
  background-size: cover;
}

.pero{
    background: url('https://raw.githubusercontent.com/lior4007/South-America/master/countries/images/Pero.jpg'); 
    background-size: cover;
  
}

.colombia{
  background: url('https://raw.githubusercontent.com/lior4007/South-America/master/countries/images/Colombia.jpg'); 
  background-size: cover;
}

.argentina{
  background: url('https://raw.githubusercontent.com/lior4007/South-America/master/countries/images/Argentina.jpg'); 
  background-size: cover;
}
  